#SLIDE_BG {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 36s linear infinite 5s;
    animation-timing-function: ease-in;
    background-image: url(images/laughing-businesswoman-wearing-telephone-headset-SDS8Q3M.jpg);

}

@keyframes slideBg {
    0% {
        background-image: url(images/laughing-businesswoman-wearing-telephone-headset-SDS8Q3M.jpg)
    }
    25% {
        background-image: url(images/laughing-bearded-man-holding-hair-and-laughing-3DLGZ7V.jpg)
    }
    50% {
        background-image: url(images/baby-girl-smiling-and-swimming-in-water-PZY296C.jpg)
    }
    75% {
        background-image: url(images/two-laughing-female-friends-having-fun-walking-9KDBTY6.jpg)
    }
    100% {
        background-image: url(images/seniors-friends-on-the-beach-MGW2XJ9.jpg)
    }

}

.card {
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    color:orangered;
    text-align: center;
    
}